<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
  <session-factory>
    <!-- 配置方言         从hql到sql -->
    <!-- 配置数据库方言 在mysql里面实现分页 关键字 limit，只能使用mysql里面 在oracle数据库，实现分页rownum 让hibernate框架识别不同数据库的自己特有的语句 -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

	<!-- 配置数据库驱动 -->
    <!--<property name="">com.mysql.jdbc.Driver</property> -->
	<property name="hibernate.show_sql">true</property>
	<!-- 输出底层sql语句格式 -->
	<property name="hibernate.format_sql">true</property>
	<!-- hibernate帮创建表，需要配置之后 update: 如果已经有表，更新，如果没有，创建 -->
	<property name="hibernate.hbm2ddl.auto">update</property>

	<mapping resource="com/po/Invitation.hbm.xml" />
	<mapping resource="com/po/User.hbm.xml" />
	<mapping resource="com/po/Admin.hbm.xml" />
  
  </session-factory>
</hibernate-configuration> 